Django==4.0.3
django_rest_knox==4.2.0
djangorestframework==3.13.1
knox==0.1.14
urllib3==1.26.8
whitenoise==6.0.0
virtualenv==20.13.3
six==1.16.0
requests==2.27.1
PyJWT==2.3.0
psycopg2==2.9.3
Pillow==9.0.1
gunicorn==20.1.0
future==0.18.2
click==8.0.4
django-heroku==0.3.1
djangorestframework==3.13.1
cryptography==36.0.1
django-allauth==0.49.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.1.0
