Django==2.2.12
django_rest_knox==4.2.0
djangorestframework==3.13.1
knox==0.1.14
whitenoise==6.0.0
virtualenv==20.13.2
six==1.14.0
requests==2.22.0
PyJWT==1.7.1
psycopg2-binary==2.9.3
Pillow==7.0.0
gunicorn==20.1.0
future==0.18.2
Click==7.0
django-heroku==0.3.1
djangorestframework==3.13.1
cryptography==2.8
cryptography==2.8
